body{
	font-family: 'Work Sans', Arial, sans-serif;
	color: white;


	width: 100%;
	height:100%;
	background-image: url(webVerbs_Resources/sandwich2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	/*custom cursors from https://www.cursor.cc/?*/	
	cursor:url(webVerbs_Resources/swatter2.cur), crosshair !important;
}
body:active{
	cursor:url(webVerbs_Resources/swatter2_clicked.cur), crosshair !important;
}

.catchMe {
	position:relative;
	left: 0px;
	top: 0px;

	width: 200px;
    height: 200px;
    border-radius: 50%;

    animation: vibrate 0.1s infinite;
}

@keyframes vibrate{
	100% {transform: rotate(5deg);}
}

.show{
	opacity: 0%;
	animation: fade 1s infinite;
	animation-play-state: paused;
}
@keyframes fade{
	50%	{opacity: 100%;}
}

.shock{
	position: absolute;
	background: #9F0000;
	left:0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity:0%;
}

