body{
	background: black;
}
.textIn{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: white;
	text-align: center;
	transform: translate(0px,23px);
}

.catchMe {
	position:absolute;
	top: 0px;
	left: 0px;
	 
	width: 70px;
    height: 70px;
    background: grey;
    border-radius: 50%;
}