p {
	width:500px;
	font-family: Helvetica,Arial,sans-serif;
	/*font-family: 'Turret Road', cursive;*/
	font-size:20px;
	/*font-style: italic;*/
	/*font-variant:small-caps;*/
	font-weight:100;	/*ranges from 100-900; or bold,bolder,lighter*/
	line-height:1.3em; /*this is the leading*/
	letter-spacing: 50px;
	text-align: left;
	/*text-decoration: underline overline line-through;*/
	text-indent: 1.3em; /*usually the same as line-height*/
	text-transform: uppercase;

	/*column-count: 3;
	column-gap:100px;
	column-rule:5px dotted black;*/
}

#orange{
	color: orange;
	letter-spacing: 0px !important;
	font-weight:bold;
}

#strange{
	letter-spacing: 0px !important;
}


.crossout{
	text-decoration: line-through;
}